.pdf-moderno {
    margin: auto;
    display: block;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Intenta ocultar las barras de desplazamiento, pero depende del visor de PDF */
    width: 100%; /* Ajusta al ancho disponible */
    max-width: 800px; /* Máximo ancho */
    height: auto; /* Altura automática */
    aspect-ratio: 1 / 1.4142; /* Proporción de tamaño A4 */
    
    min-height: 500px;
  }

  @media (max-width: 768px) {
    .pdf-moderno {
      aspect-ratio: 1 / 1.4142; /* O lo que funcione mejor en dispositivos móviles */
    }
  }
  
/* Seleccionar visor correcto para desktop o mobile */
.visor-desktop {
  display: block; /* Por defecto, muestra el visor de desktop */
}

.visor-mobile {
  display: none; /* Por defecto, oculta el visor móvil */
}

/* Media query para pantallas de hasta 768px de ancho (tablets y móviles) */
@media (max-width: 768px) {
  .visor-desktop {
    display: none; /* Oculta el visor de desktop en dispositivos móviles */
  }

  .visor-mobile {
    display: block; /* Muestra el visor móvil en dispositivos móviles */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* Altura automática */
  }
}

  