/* Desplazamiento suave */
html {
  scroll-behavior: smooth;
}

/* Media Query para aplicar estilos solo en desktop */
@media (hover: hover) {
  /* Estilo global para personalizar la barra de desplazamiento en desktop */
  ::-webkit-scrollbar {
      width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
      background: #2D2D2D; /* Color de fondo de la pista */
  }
  
  ::-webkit-scrollbar-thumb {
      background: #444; /* Color de la barra de desplazamiento */
      border-radius: 6px; /* Bordes redondeados para el thumb */
  }
  
  /* Hover sobre la barra de desplazamiento */
  ::-webkit-scrollbar-thumb:hover {
      background: #555; /* Color al pasar el mouse */
  }
  
  /* Estilo para Firefox */
  * {
      scrollbar-width: thin; /* Aspecto más delgado para la barra de desplazamiento */
      scrollbar-color: #444 #2D2D2D; /* Colores para la barra y la pista */
  }
}

/* Clase para desplazamiento suave de About Me */
#mobileAbout, #desktopAbout {
    transition: opacity 0.5s, max-height 0.5s ease;
    overflow: hidden;
    max-height: 40px; /* Empieza en 0 para asegurarse de que esté oculto inicialmente. */
    opacity: 0;
    display: none;
  }
  
  #mobileAbout.show, #desktopAbout.show {
    opacity: 1;
    max-height: 500px; /* Ajusta según el contenido. Podrías necesitar un valor más alto. */
    display: flex; /* Se necesita para que el elemento sea visible antes de iniciar la transición. */
  }
  
  
  
  @font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon/icomoon.eot?5l6di6);
    src: url(../fonts/icomoon/icomoon.eot?5l6di6#iefix) format('embedded-opentype'), url(../fonts/icomoon/icomoon.ttf?5l6di6) format('truetype'), url(../fonts/icomoon/icomoon.woff?5l6di6) format('woff'), url(../fonts/icomoon/icomoon.svg?5l6di6#icomoon) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: charterbold_italic;
    src: url(../fonts/charter/charter_bold_italic-webfont.eot);
    src: url(../fonts/charter/charter_bold_italic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/charter/charter_bold_italic-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: charterbold;
    src: url(../fonts/charter/charter_bold-webfont.eot);
    src: url(../fonts/charter/charter_bold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/charter/charter_bold-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: charteritalic;
    src: url(../fonts/charter/charter_italic-webfont.eot);
    src: url(../fonts/charter/charter_italic-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/charter/charter_italic-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: charterregular;
    src: url(../fonts/charter/charter_regular-webfont.eot);
    src: url(../fonts/charter/charter_regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/charter/charter_regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal
}
